* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background:#f8f9fa;
}


/* ----------- HEADER GENERAL ----------- */
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#ff6f61;
    color:white;
}

/* Logo */
.logo {
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img {
    width:60px;
}

.logo h1 {
    font-size:22px;
}

/* Menú */
.menu a {
    color:rgb(0, 0, 0);
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    font-size:16px;
}

.menu a:hover {
    color:#d83b0b;
}

/* Redes */
.redes img {
    width:30px;
    margin-left:10px;
}

.redes img:hover{
    transform:scale(1.2);
}


/* ----------- CONTENEDOR GENERAL ----------- */
.contenedor{
    width:90%;
    margin:50px auto;
}


/* -------- CARRUSEL -------- */
ul.carrusel {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    padding: 0;
    list-style: none;
}

ul.carrusel li:first-child {
    opacity: 1;
    visibility: visible;
}

ul.carrusel li:target {
    opacity: 1;
    visibility: visible;
}

/* -------- Diapositivas -------- */

ul.carrusel li {
    width: 800px;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

/* Imágenes */
.carrusel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Texto animal */
.carrusel li p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}

/* -------- Miniaturas -------- */
nav {
    width: 800px;
    margin: 10px auto;
    position: static;
    background: #f1f2f3;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 10px;
}

/* Mini imágenes */
nav ul li img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

/* Nombre animal */
.carrusel li p {
    position: static;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}


/* ----------- ADOPCIÓN ----------- */
/* ----------- Contenedor general ----------- */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* ----------- Tarjetas animales  -----------*/
.minicontenedor {
    background:#ffffff;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    width:260px;
}

/* ----------- Imágenes ----------- */
.minicontenedor img {
    width:100%;
    height:160px;
    object-fit:contain;
    border-radius:15px;
    margin-bottom:15px;
}

/* ----------- Nombre animal ----------- */
.minicontenedor h3 {
    color:#ff6f61;
}


/* ----------- NOSOTROS ----------- */
.nosotros {
    display:flex;
    gap:40px;
    align-items:center;
    background:#ffffff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.nosotros img {
    width:50%;
    border-radius:20px;
}

.nosotros-texto {
    width:50%;
}

.nosotros-texto h2 {
    color:#ff6f61;
    margin-bottom:15px;
}


/* ----------- CONTACTO ----------- */
.contacto {
    display:flex;
    gap:40px;
}

/* Caja izquierda */
.info {
    flex:1;
    background:#ff6f61;
    color:white;
    padding:30px;
    border-radius:20px;
}

/* Caja derecha formulario */
.formulario {
    flex:1;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* Campos */
input, select {
    width:100%;
    padding:12px;
    margin:12px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

/* Botón */
button {
    background:#ff6f61;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
}

button:hover {
    background:#d40909;
}


/* ----------- FOOTER GENERAL ----------- */
footer {
    margin-top:60px;
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}

footer img {
    width: 2%;
}